/* You can add global styles to this file, and also import other style files */
body {
    border: 1px solid white;
    height: 100vh;
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}